.collapsible-header, .collection-item.collapsible {
    padding:0;
}
    .collapsible{
        margin:0;
    }
    
        .taskElement {
            display: inline-block;
        }
            .taskElement.checkboxContainer {
                vertical-align:middle;
                height:20px;
                margin:9px;
                margin-right:0px;
            }
            
            .taskElement.taskName {
                width:-webkit-fill-available;
                line-height:38px;
                font-size:1em;
            }
            
                .taskElement.taskName:focus {
                    outline:none;
                }
                
            .taskElement.chevron,
            .taskElement.menu {
                height:38px;
                padding:9px;
            }
            
            .taskElement.menu .material-icons {
                color:rgb(34,34,34);
            }
            
                .collapsible-header:hover .taskElement.menu .material-icons {
                    color:rgb(255,255,255);
                }
            
                .taskElement.chevron .material-icons,
                .taskElement.menu .material-icons {
                    margin:0px;
                }
        
        .collapsible-body {
            padding:0;
        }
            
            .collapsible-body .collapsible{
                border:none;
            }
            
                .collapsible-body .collapsible li .collapsible-header{
                    border:none;
                }