

.collapsible-header, .collection-item.collapsible {
    padding:0;
}
    .collapsible{
        margin:0;
    }
    
    .collapsible,.collapsible-header,.collapsible-body{
        border:none;
        box-shadow:none;
    }
        
        #body_root {
            border-bottom:1px solid var(--accent-color);
        }
    
        .taskElement {
            display: inline-block;
        }
            .taskElement.checkboxContainer {
                height:20px;
                margin:9px;
                margin-right:0px;
            }
            
            .taskElement.taskName {
                width:-webkit-fill-available;
                padding-top:9px;
            }
            
                .taskElement.taskName:focus {
                    outline:none;
                }
            
            .iconContainer{
                height:38px;
                padding:9px;
            }
            
            .taskElement.menu .material-icons {
                display:none;
            }
            
                .collapsible-header:hover .taskElement.menu .material-icons {
                    display:inherit;
                }
            
                .taskElement .material-icons {
                    margin:0;
                }
        
        .collapsible-body {
            padding:0;
        }

#newTask{
    display:flex;
    width:-webkit-fill-available;
}