.skew-checkbox {
  /* display */
  display: inline-block;

  /* positioning */
  position: relative;
  top: 0.162em;

  /* box-model */
  width: 1em;
  height: 1em;
  border-radius: 0.05em;
  overflow: hidden;

  /* children */
  .clip {
    /* display */
    display: flex;
    justify-content: flex-end;

    /* positioning */
    position: absolute;
    top: 0;
    right: 0;

    /* box-model */
    width: 1.1em;
    height: 1em;
    overflow: hidden;

    /* manipulation */
    transform-origin: top right;
    transition: transform var(--anim-time, 0.25s) ease-in-out;

    /* children */
    .border {
      /* positioning */
      position: absolute;
      bottom: 0;

      /* box-model */
      width: 1em;
      height: 1em;
      border: 0.1em solid darkgray;
      border-radius: 0.05em;

      /* manipulation */
      transform-origin: top right;
      transition: transform var(--anim-time, 0.25s) ease-in-out,
        opacity var(--anim-time, 0.25s) ease-in-out;

      /* children */

      &.blue {
        border: 0.11em solid
          hsl(var(--accent-hue), 100%, var(--accent-lightness));
        opacity: 0;
      }
    }
  }
  &.checked .clip {
    transform: translate(-0.185em, 0.04em) rotate(-45deg) skew(15deg, 15deg)
      scale(1.2);

    .border {
      transform: skew(-28deg, -28deg) translate(0.1em, calc(-100% + 0.1em));

      &.blue {
        opacity: 1;
      }
    }
  }
}
