.hide {
  display: none;
}

.scrim {
  position: fixed;
  inset: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background: hsl(var(--accent-hue), 100%, 90%);
  opacity: 50%;
}

.modal {
  /* display */
  /* positioning */
  position: fixed;
  inset: 0;
  z-index: 201;

  /* box-model */
  margin: auto;
  padding: 1em;
  width: 40em;
  max-width: 80vw;
  height: fit-content;
  max-height: 80vh;
  background: var(--background-default);

  /* typography */
  /* manipulation */
  /* misc */
}

.modal-footer button {
  all: unset;
  padding: .625em 1em;
  text-transform: uppercase;
  font: inherit;
  background: hsl(var(--accent-hue), 100%, var(--accent-lightness));
}