.task-details {
  padding: 1em;
  max-width: 30em;
}

.grid {
  display: grid;
  grid-template-columns: 1.5em max-content auto;
  justify-items: stretch;
  align-items: center;
  gap: .75em;
  row-gap: 1.5em;
}

h2 {
  all: unset
}

button, input, textarea {
  /* box-model */
  text-align: left;
  width: fit-content;
  background: transparent;
  border: none;
  border-bottom: 2px solid currentColor;

  /* typography */
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

button:focus, input:focus, textarea:focus {
  background: var(--background-focus);
  outline: 0.25em solid var(--background-focus);
  border-bottom: 2px solid hsl(var(--accent-hue), 100%, var(--accent-lightness));
  border-radius: 0.05em;
}

.repeat-button {
  grid-column: 2/4;
}

.description {
  grid-column: 1/4;
  row-gap: 0.5em;
}

#description {
  grid-column: 1/4;
  font: inherit;
  resize: vertical;
  height: fit-content;
  width: 100%;
}

.subtasks {
  border-top: 1px solid var(--background-focus);
}