* {
  box-sizing: border-box;
  background: inherit;
}

/* Color Schemes */
.dark {
  --background-pop: black;
  --background-default: #444;
  --background-focus: #666;

  --text-default: #fff;
  --text-accent: #000;
}

/* Body */
body {
  /* variables */
  --anim-time: 0.2s;
  --accent-color: #9ff;
  --accent-hue: 180deg;
  --accent-lightness: 80%;

  /* display */
  /* positioning */
  /* box-model */
  margin: 0;
  background: var(--background-default);

  /* typography */
  font-size: 1em;
  color: var(--text-default);
  /* manipulation */
  /* misc */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}